%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    <head>
        <title>GeoIP WSDL-to-REST Service</title>
        </head>
        <body>
        #content
            <form action="/location" method="POST">
                <input type="text" name="ip"/>
                <input type="submit" value="Go!"/>
            </form>
        </body>
</html>
