<html>
    <head>
        <title>GeoIP WSDL-to-REST Service</title>
        <link href="/main.css" rel="stylesheet" type="text/css" />
        </head>
        <body>
            <div class="header">Type in an IP-Address</div>
            <form action="/location" method="POST">
                <input type="text" name="ip"/>
                <div class="button">
                    <input type="submit" value="Go!"/>
                </div>
            </form>
        </body>
</html>
