<html>
    <head>
        <title>GeoIP WSDL-to-REST Service</title>
        <link href="/main.css" rel="stylesheet" type="text/css" />
        </head>
        <body>
            <p>This IP Address, <strong><%= ip %></strong>, is coming from <strong><%= country %></strong</p>
        </body>
</html>

